black==19.10b0
fastapi==0.109.1
gunicorn==20.0.4
psycopg2-binary==2.8.6
pytest==7.1.2
python-dotenv==1.0.1
requests==2.25.1
uvicorn==0.14.0
uvloop==0.14.0 ; python_version < '3.7'
httptools==0.1.1 ; python_version < '3.7'
uvloop==0.15.2 ; python_version >= '3.7'
